<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionDB" 
			 connectionString="Server=DESKTOP-F7CE3SO\DESKTOP;Database=AnnieStore;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>